Repository aovdiien/guess-game: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: update svg marks and add animation
  README.md
  public/logo192.png
  public/logo512.png
  src/components/App.jsx
  src/components/DigitInput.jsx
  src/components/Litmus.jsx
  src/styles/App.scss
  src/styles/DigitInput.scss
  src/styles/Litmus.scss
  src/styles/index.scss
  src/svg/check-mark.svg
  src/svg/cross-mark.svg
Due: prettier --write

feat: add footer
  src/components/App.jsx
  src/components/Footer.jsx
  src/styles/App.scss
  src/styles/Footer.scss
  src/styles/_constants.scss
Due: none

feat: introduce redux-toolkit
  .eslintrc.json
  package.json
  public/index.html
  public/manifest.json
  src/__tests__/DigitInput.js
  src/components/App.jsx
  src/components/DigitInput.jsx
  src/components/FireworksEffect.jsx
  src/components/Footer.jsx
  src/components/Litmus.jsx
  src/index.js
  src/store/gameRegistrySlice.js
  src/store/index.js
  src/styles/FireworksEffect.scss
  src/styles/Footer.scss
  src/styles/Litmus.scss
  src/styles/index.scss
  src/utils/number.js
  yarn.lock
Due: prettier --write, eslint

feat: add localStorage state persister
  src/components/App.jsx
  src/components/Footer.jsx
  src/store/gameRegistrySlice.js
  src/store/index.js
  src/store/localStorage.js
  src/styles/Footer.scss
Due: prettier --write, eslint

feat: update tests
  src/__tests__/App.js
  src/index.js
Due: prettier --write, eslint

feat: introduce unit tests
  src/__tests__/App.js
  src/__tests__/DigitInput.js
  src/__tests__/Footer.js
  src/setupTests.js
  src/store/index.js
  src/svg/check-mark.svg
  src/svg/cross-mark.svg
  src/utils/testUtils.js
Due: prettier --write, eslint

feat: remove redundant TODO in tests
  src/__tests__/DigitInput.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{json,js,yml,yaml,md}
  eslint: any of: src/**/*.js
